*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

 #card{
    margin-left: 550px;
    margin-top: 100px;
    position: relative;  
    height: 500px;
    width: 400px;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1546697710-9877687facd0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0MXx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    border: 2px solid whitesmoke;
    border-radius: 7px;
 }

 .img{
    position: relative;
    left: 20%;
    top: 20%;
    height: 220px;
    width: 220px;
    border: 2px solid white;
    border-radius: 800%;


 }

 #info h3{
    text-align: center;
    padding-top: 110px;
    padding-bottom: 10px;
    color: white;
    font-size: 26px;
 }

 
 #info p{
    color: white;
    font-size: medium;
    text-align: center;
 }

 #small h4{
    background-color: red;
    width: 40px;
    text-align: center;
    position: absolute;
    left: 3%;
    top: 3%;
    font-size: medium;
 }

